.idea
*.pyc
.cache
build
SDCIT.egg-info
temporary
blossom5
kcipt/blossom_v/cy_blossom_v.cpp
kcipt/blossom_v/*.so
kcipt/cython_impl/cy_kcipt.cpp
kcipt/cython_impl/*.so
kcit/algorithms
kcit/gpml-matlab
blossom5-v2.05.src.tar.gz
KCI-test.zip
sdcit/cython_impl/cy_sdcit.cpython-36m-darwin.so
sdcit/blossom_v/cy_blossom_v.cpython-36m-darwin.so
sdcit/cython_impl/cy_sdcit.cpp
sdcit/blossom_v/cy_blossom_v.cpp